<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- application_status.html -->

    <h1>Your Job Applications</h1>
    <ul>
        {% for application in job_applications %}
            <li>
                <p>Job Title: {{ application.job.title }}</p>
                <p>Status: {{ application.status }}</p>
                <!-- Add more application details as needed -->
            </li>
        {% empty %}
            <li>No job applications found.</li>
        {% endfor %}
    </ul>

</body>
</html>