
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Company Profile</title>
    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <h1>Create job</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="create-job-btn">Create</button>
    </form>

    <!-- JavaScript to display SweetAlert message -->
    <script>
        document.getElementById('create-job-btn').addEventListener('click', function(event) {
            // Prevent default form submission
            event.preventDefault();

            // Submit the form via AJAX
            var form = document.querySelector('form');
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    swal({
                        title: "Success",
                        text: "Job created successfully!",
                        icon: "success",
                        button: "OK",
                    })
                    .then(() => {
                        window.location.href = "{% url 'main_comp' %}";
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "Job creation failed. Please try again.",
                        icon: "error",
                        button: "OK",
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

</body>
</html>

